<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a href="{{ 'home'| page }}" class="header__logo" id="logo" data-scroll="#intro">
                <img src="{{ 'assets/images/logo.png'|theme }}" alt="">
            </a>
            <nav class="nav" id="nav">
                <a href="{{ 'home'| page }}" class="nav__link" data-scroll="#services">Услуги</a>
                <a href="{{ 'home'| page }}" class="nav__link" data-scroll="#works">Проекты</a>
                <a href="{{ 'home'| page }}" class="nav__link" data-scroll="#brands">Клиенты</a>
                <a href="{{ 'home'| page }}" class="nav__link" data-scroll="#aboutus">О нас</a>
                <a href="{{ 'home'| page }}" class="nav__link" data-scroll="#contact">Контакты</a>
            </nav>
            <a href="tel:+380995582290" class="header__tel" id="header__tel">+38 (099) 55 822 90</a>
        </div>
    </div>
</header>